[Unit]
Description=The simpliest webserver
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/nc -l -p 8000 -c '/usr/bin/echo -e "HTTP/1.1 200 OK\n\n$(/usr/bin/hostname)"' -k
KillMode=process
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
